parameters:
	checkAlwaysTrueCheckTypeFunctionCall: false
	checkAlwaysTrueInstanceof: false
	polluteCatchScopeWithTryAssignments: false
	polluteScopeWithLoopInitialAssignments: true
	earlyTerminatingMethodCalls: []
	universalObjectCratesClasses: []
	ignoreErrors:
		- '#Access to an undefined property Kirby\\Text\\KirbyTag::\$[a-z]+.#'
	tmpDir: %rootDir%/tmp
	level: 5
